 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
      a { text-decoration:none; }
      td > a.link-directory { font-weight: bold; }
    </style>
  </head>
  <body>
    <form style="margin-top:1em; margin-bottom:1em;"
          action="{{ current_directory }}"
          method="POST"
          enctype="multipart/form-data">
      <input type="file" name="files" accept="*" multiple />
      <input type="submit" value="Upload" />
    </form>

    <div>
      <a href="/"><strong>[Root]</strong></a>
      <span> / </span>
      {% for item in breadcrumb %}
        {% if item.link != "" %}
          <a href="{{ item.link }}/"><strong>{{ item.label }}</strong></a>
          <span> / </span>
        {% else %}
          {{ item.label }}
        {% endif %}
      {% endfor %}
    </div>

    <hr />

    <table>
      <tr>
        <th><a href="{{ current_directory }}?sort=name&order={{ name_order }}">Name</a></th>
        <th><a href="{{ current_directory }}?sort=modified&order={{ modified_order }}">Last modified</a></th>
        <th><a href="{{ current_directory }}?sort=size&order={{ size_order }}">Size</a></th>
      </tr>
      <tr><td style="border-top:1px dashed #BBB;" colspan="5"></td></tr>
      {% for row in rows %}
        <tr>
          <td>
            <a class="{{ row.link_class }}" href="{{ row.link }}">
              {%- if row.file_type == "directory" -%}
                {{ row.filename }}/
              {%- else if row.file_type == "file" -%}
                {{ row.filename }}
              {%- else -%}
                unsupported file type
              {%- endif -%}
            </a>
          </td>
          <td style="color:#888;">[{{ row.modified }}]</td>
          <td><bold>{{ row.filesize }}</bold></td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
