<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style> a { text-decoration:none; } </style>
  </head>
  <body>
    <form style="margin-top:1em; margin-bottom:1em;"
          action="/{{ path }}"
          method="POST"
          enctype="multipart/form-data">
      <input type="file" name="files" accept="*" multiple />
      <input type="submit" value="Upload" />
    </form>
    <div>
      <a href="/"><strong>[Root]</strong></a>
      {% for item in breadcrumb %}
        <a href="/{{ item.link }}/"><strong>{{ item.label }}</strong></a>
      {% endfor %}
    </div>
    <hr />
    <table>
      <tr>
        <th><a href="/{{ current_link }}?sort=name&order=asc">Name</a></th>
        <th><a href="/{{ current_link }}?sort=modified&order=asc">Last modified</a></th>
        <th><a href="/{{ current_link }}?sort=size&order=asc">Size</a></th>
      </tr>
      <tr><td style="border-top:1px dashed #BBB;" colspan="5"></td></tr>
      {% if up_link.exists %}
        <tr>
          <td><a href="/{{ up_link.link }}"><strong>{{ up_link.label }}</strong></a></td>
          <td></td>
          <td></td>
        </tr>
      {% else %}
        <tr><td>&nbsp;</td></tr>
      {% endif %}
      {% for row in rows %}
        <tr>
          <td><a {{ row.linkstyle }} href="/{{ row.link }}">{{ row.label }}</a></td>
          <td style="color:#888;">[{{ row.modified }}]</td>
          <td><bold>{{ row.filesize }}</bold></td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
